.container {
  border: 2px solid red;
  width: 85%;
  margin: auto;
}

.navbar {
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.navbar .brandTitle {
  border: 1px solid black;
  font-size: 22px;
}

.navbar .item {
  border: 1px solid black;
  font-size: 17px;

  display: flex;
  align-items: center;
}

.item .content {
  border: 1px solid black;
  flex: 3;
  width: 110px;
  text-align: center;
}

/* Container */
/* ============================================================ */
/* Container One */

.ContainerOne {
  border: 2px solid yellow;
  height: 100vh;
  
  display: flex;
}

.ContainerOne .brandOrganize {
  border: 1px solid black;
  flex: 1;
}

.ContainerOne .imageOrganize {
  border: 1px solid black;
  flex: 1;
}

.ContainerOne .imageOrganize img {
  width: 300px;
  height: 300px;
}
/* ============================================================ */
/* Container Two */

.ContainerTwo {
  border: 2px solid green;
  height: 100vh;
}

/* ============================================================ */
/* Container Three */

.ContainerThree {
  border: 2px solid pink;
  height: 100vh;
}

/* ============================================================ */
/* Container Four */

.ContainerFour {
  border: 2px solid rgb(30, 5, 255);
  height: 100vh;
}

/* ============================================================ */
/* Container Five */

.ContainerFive {
  border: 2px solid rgb(0, 255, 234);
  height: 100vh;
}

/* ============================================================ */
/* Container Six */

.ContainerSix {
  border: 2px solid rgb(0, 132, 255);
  height: 100vh;
}
